{% extends "base.html" %}

{% block title %}To‘lov qo‘shish{% endblock %}

{% block content %}
<h2>To‘lov qo‘shish</h2>

<form method="post">
    {% csrf_token %}

    <label>Student:</label><br>
    <select name="student" required>
        <option value="">-- Tanlang --</option>
        {% for student in students %}
            <option value="{{ student.id }}">
                {{ student.user.first_name }} {{ student.user.last_name }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    <label>Summa:</label><br>
    <input type="number" step="0.01" name="amount" required>
    <br><br>

    <label>To‘lov turi:</label><br>
    <select name="method" required>
        <option value="cash">Naqd</option>
        <option value="card">Karta</option>
    </select>
    <br><br>

    <button type="submit">Saqlash</button>
</form>

{% endblock %}
