{% extends "base.html" %}
{% block title %}O‘qituvchi qo‘shish{% endblock %}

{% block content %}
<h2>Yangi o‘qituvchi qo‘shish</h2>

<form method="post">
    {% csrf_token %}

    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>Ism:</label><br>
    <input type="text" name="first_name" required><br><br>

    <label>Familiya:</label><br>
    <input type="text" name="last_name" required><br><br>

    <label>Mutaxassislik:</label><br>
    <input type="text" name="speciality" required><br><br>

    <label>Telefon:</label><br>
    <input type="text" name="phone"><br><br>

    <button type="submit">Saqlash</button>
</form>
{% endblock %}
