{% extends "base.html" %}
{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<h2>👨‍🎓 {{ group.name }} — Studentlar</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Ism</th>
        <th>Familiya</th>
        <th>Telefon</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ s.user.username }}</td>
        <td>{{ s.user.first_name }}</td>
        <td>{{ s.user.last_name }}</td>
        <td>{{ s.phone }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Student yo‘q</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/teachers/groups/">⬅ Guruhlarga qaytish</a>
{% endblock %}
