{% extends "base.html" %}
{% block title %}Profilni tahrirlash{% endblock %}

{% block content %}
<h2>Profilni tahrirlash</h2>

<form method="post">
    {% csrf_token %}

    <label>Mutaxassislik:</label><br>
    <input type="text" name="speciality" value="{{ teacher.speciality }}" required><br><br>

    <label>Telefon:</label><br>
    <input type="text" name="phone" value="{{ teacher.phone }}"><br><br>

    <label>Bio:</label><br>
    <textarea name="bio">{{ teacher.bio }}</textarea><br><br>

    <label>Tajriba (yil):</label><br>
    <input type="number" name="experience_years" value="{{ teacher.experience_year }}"><br><br>

    <button type="submit">Saqlash</button>
</form>
{% endblock %}
