<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h2>Profil</h2>

    <p>
        <b>Username:</b> {{ request.user.username }}
    </p>

    <p>
        <b>Ism:</b> {{ request.user.first_name }}
    </p>

    <p>
        <b>Familiya:</b> {{ request.user.last_name }}
    </p>

    <p>
        <b>Role:</b> {{ request.user.role }}
    </p>

    {% if request.user.avatar %}
        <img src="{{ request.user.avatar.url }}" width="120">
    {% endif %}

    <hr>

    <h3>Profilni tahrirlash</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Ism:</label><br>
        <input type="text" name="first_name" value="{{ request.user.first_name }}"><br><br>

        <label>Familiya:</label><br>
        <input type="text" name="last_name" value="{{ request.user.last_name }}"><br><br>

        <label>Avatar:</label><br>
        <input type="file" name="avatar"><br><br>

        <button type="submit">Saqlash</button>
    </form>

    <br>
    <a href="/accounts/password/change/">Parolni almashtirish</a><br>
    <a href="/accounts/logout/">Logout</a>
</body>
</html>
