<!DOCTYPE html>
<html>
<head>
    <title>Guruhlar</title>
</head>
<body>
    <h2>Guruhlar ro‘yxati</h2>

    {% if request.user.role == 'admin' %}
        <a href="/courses/groups/create/">➕ Yangi guruh</a>
        <br><br>
    {% endif %}

    <table border="1" cellpadding="5">
        <tr>
            <th>Guruh</th>
            <th>Kurs</th>
            <th>O‘qituvchi</th>
        </tr>

        {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.course.name }}</td>
            <td>
                {% if group.teacher %}
                    {{ group.teacher.user.first_name }} {{ group.teacher.user.last_name }}
                {% else %}
                    —
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Guruhlar yo‘q</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/courses/">Kurslarga qaytish</a>
</body>
</html>
