{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="authBody">

<div class="loginWrap">

    <div class="loginImage">
        <img src="{% static 'images/login.png' %}" alt="">
        <div class="loginImageText">
            <h2>Studying Online is now much easier</h2>
            <p>TOTC is an interesting platform that will teach you in more an interactive way</p>
        </div>
    </div>

    
    <div class="loginFormWrap">
        <form method="post" class="loginForm">
            {% csrf_token %}

            <h2 class="loginTitle">Welcome to <span class="accent">TOTC!</span></h2>
            <p class="loginSub">
                Log in to access your dashboard and manage your courses, assignments and more.
            </p>

            {% if error %}
                <div class="loginError">{{ error }}</div>
            {% endif %}

            <div class="field">
                <label>User name</label>
                <input
                        type="text"
                        name="username"
                        placeholder="Enter your User name"
                        value="{{ request.POST.username }}"
                        required
                >
            </div>

            <div class="field">
                <label>Password</label>
                <div class="passwordWrap">
                    <input
                            type="password"
                            name="password"
                            placeholder="Enter your Password"
                            required
                    >
                    <span class="eye">👁</span>
                </div>
            </div>

            <div class="loginRow">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
                <a href="#" class="forgot">Forgot Password?</a>
            </div>

            <button type="submit" class="loginBtn">Login</button>
        </form>
    </div>

</div>

</body>
</html>
