<!DOCTYPE html>
<html>
<head>
    <title>Davomat</title>
</head>
<body>
    <h2>Davomat belgilash</h2>

    <form method="post">
        {% csrf_token %}

        <label>Student:</label><br>
        <select name="student" required>
            <option value="">-- Tanlang --</option>
            {% for student in students %}
                <option value="{{ student.id }}">
                    {{ student.user.first_name }} {{ student.user.last_name }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <label>Status:</label><br>
        <select name="status" required>
            <option value="present">Bor</option>
            <option value="absent">Yo‘q</option>
        </select>
        <br><br>

        <button type="submit">Saqlash</button>
    </form>

    <br>
    <a href="/">Dashboardga qaytish</a>
</body>
</html>
