{% extends "base.html" %}
{% block content %}
<h2>Vazifalar</h2>

{% if request.user.role == 'teacher' %}
<a href="/tasks/assignments/create/">➕ Vazifa qo‘shish</a>
{% endif %}

<ul>
{% for a in assignments %}
    <li>
        <b>{{ a.title }}</b> – deadline: {{ a.deadline|date:"d.m.Y H:i" }}

        {% if request.user.role == 'student' %}
            <a href="/tasks/assignment/{{ a.id }}/submit/">Yuborish</a>
        {% endif %}

        {% if request.user.role == 'teacher' %}
            <a href="/tasks/assignment/{{ a.id }}/submissions/">Tekshirish</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}
