{% extends "base.html" %}
{% block content %}
<h2>{{ assignment.title }} – Topshiriqlar</h2>

<table border="1">
<tr>
    <th>Student</th>
    <th>File</th>
    <th>Izoh</th>
    <th>Baho</th>
</tr>

{% for s in submissions %}
<tr>
    <td>{{ s.student.user.first_name }} {{ s.student.user.last_name }}</td>
    <td><a href="{{ s.file.url }}">Yuklab olish</a></td>
    <td>{{ s.comment }}</td>
    <td>
        <form method="post" action="/tasks/submission/{{ s.id }}/check/">
            {% csrf_token %}
            <input type="number" name="grade" value="{{ s.grade }}">
            <button type="submit">Saqlash</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
